* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    height: 100%;
    position: fixed;
    width: 100%;
}

button {
    border: none;
    cursor: pointer;
    outline: none;
}

.x {
    position: relative;
    background: #fff;
    width: 200px;
    height: 200px;
}
.x::before, .x::after {
    content: "";
    width: 200px;
    height: 50px;
    background-color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.x::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.o {
    background-color: #fff;
    position: relative;
    width: 200px;
    height: 200px;
}
.o::before {
    content: "";
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 20px solid #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.empty {
    position: relative;
    width: 200px;
    height: 200px;
    background: #fff;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    width: 700px;
    height: 700px;
    background: #000;
}

.reset {
    position: relative;
    width: 150px;
    height: 75px;
    margin-top: 50px;
    font-size: 22pt;
    color: #b4b4b4;
    background-color: #0000ff;
    border: 10px solid #000059;
    border-radius: 10px;
}

.green {
    background: #5ba65b;
}